.container
  %p#notice= notice
  %h1 Coupons
  %table
    %thead
      %tr
        %th Day
        %th UID
        %th enabled
        %th usable
        %th used
    %tbody
      - @coupons.each do |coupon|
        %tr
          %td= coupon.day.strftime("%b, %-d")
          %td= coupon.uid
          %td= coupon.enabled
          %td= coupon.usable
          %td= coupon.used
          %td= link_to 'Show', coupon
          %td= link_to 'Print', print_version_coupon_path(coupon)
          %td= link_to 'Edit', edit_coupon_path(coupon)
          %td= link_to 'Destroy', coupon, method: :delete, data: { confirm: 'Are you sure?' }
  %br/
  = link_to 'New Coupon', new_coupon_path