.container
  %p#notice= notice
  %h1 Here's your Coupons
  - if @coupons.present?
    - @coupons.each do |coupon|
      .row
        %div
          - if coupon.usable
            - status = '*this one can be used'
          - elsif coupon.used
            - status = '*this one is already used'
          - else coupon.used
            - status = '*this one just a card'
          = link_to "Coupon #{coupon.name} for #{coupon.day.strftime("%b, %-d")}", coupon
          .small= status
  - else
    %div Sorry. You have no obtained coupons yet