.container
  %p#notice= notice
  %h1 Тут все твои купончики
  - if @coupons.present?
    - @coupons.each do |coupon|
      .row
        %div
          - if coupon.usable
            - status = '*а этот можно использовать'
          - elsif coupon.used
            - status = '*этот уже использован'
          - else coupon.used
            - status = '*здесь просто карточка'
          = link_to "Купон: '#{coupon.name}' ##{coupon.day.strftime("%-d")}", coupon
          .small= status
  - else
    %div Упс, а у тебя еще нет активных купонов