.container
  %p#notice= notice
  %h1= @coupon.name
  %p
    = raw @coupon.content
  %p
    - if @coupon.usable
      - if @coupon.used
        %br
        Этот купон уже был использован:
        = @coupon.comment
      - else
        %br
        Этот купон можно использовать,
        %br
        оставив тут свои комментарии и пожелания:
        = simple_form_for @coupon, url: ss_coupon_coupon_path, method: :post do |f|
          = f.text_area :comment
          %p
            = f.submit 'Использовать купон'
        %p
          .small Условия: купон следует использовать в 2019 году (продление возможно по обоюдному согласовнанию)
            Исполнитель может отказаться от выполнения ввиду непредвиденных обстоятельств
            или в случае отстутствия реальной возможности выполнить все условия купона
  %p
    = link_to 'Назад к купонам', my_coupons_path
